@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.banner-primary-btn {
    border: 0;
    padding: 15px 25px;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    font-weight: 700;
    width: 174px;
    height: 52px;
}

/* shared style */
.primary-color {
    color: rgb(255, 84, 0);
}

/* header section style start */
.header-section {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;
    width: 50%;
    object-fit: cover;
    gap: 15px;

}

.nav-title img {
    width: 50px;
}

.nav-title p {
    font-size: 2.25rem;
    font-weight: 800;
}

.special {
    color: rgb(255, 84, 0);
    font-weight: 800;
}

.nav-container {
    width: 50%;
}

.nav-container label,
#hamburger {
    display: none;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.nav-items a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* header section style end */

/* banner section start */
.banner-section {
    max-width: 1200px;
    min-height: 500px;
    margin: 25px auto;
    padding: 106px 287px;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url('../Images/Group\ 13.png');
    border-radius: 10px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    /* padding: auto; */
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text h1 {
    font-size: 4rem;
    font-weight: 800;
    color: white;
}

.banner-text p {
    color: white;
}

.banner-icons {
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    padding: 15px;
}

.banner-icons input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    padding: 13px 50px 13px 7px;
    border: 0;
}

.banner-select {
    border: 0;
    padding: 13px 50px 13px 3px;
    border-radius: 8px;
    font-weight: 700;
    background: rgb(255, 255, 255);
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.5);
}

.banner-select option {
    color: rgba(19, 19, 24, 0.5);
    border: 0;
    border-style: none;
}

/* banner section end */

/* first section start */
.first-section {
    max-width: 1200px;
    margin: 70px auto;
    border-radius: 8px;
    display: flex;
}

.first-section-container {
    width: 50%;
    text-align: left;
    /* padding-left: 20px; */
}

.first-section-container h3 {
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 30px;
}

.first-section-container p {
    margin-bottom: 36px;
}

.first-section-container ul {
    padding-left: 20px;
    margin-bottom: 30px;
}

.first-section-container ul li {
    margin-bottom: 30px;
}

.first-section-img {
    width: 50%;
}

.first-section-img img {
    width: 100%;
    height: 100%;
}

/* second section style */
.second-section {
    max-width: 1200px;
    margin: 20px auto;
}

.second-section-text-container {
    text-align: center;
}

.second-section-text-container h3 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.second-section-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.second-section-img-container img {
    width: 100%;
    height: 300px;
}

#div-1 {
    grid-column: span 2;
}

#div-2 {
    grid-column: span 2;
}

#div-4 {
    grid-column: span 2;
}

#div-6,
#div-7 {
    grid-column: span 2;
}

/* third section style */
.third-section {
    max-width: 1200px;
    margin: 25px auto;
}

.third-section-text-container {
    text-align: center;
    margin-top: 70px;
}

.third-section-text-container h3 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.third-section-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.third-section-contain {
    width: 590px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 32px 32px;
}

.third-section-contain h3 {
    font-size: 24px;
}

/* fourth section style */
.fourth-section {
    max-width: 1200px;
    margin: 25px auto;
    display: flex;
    gap: 15px;
}

.fourth-section-input {
    padding: 45px;
    width: 40%;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
}

.fourth-section-input h3 {
    font-size: 24px;
    margin-bottom: 25px;
}
.fourth-section-input p{
    margin-bottom: 20px;
}
.fourth-section-input input {
    display: block;
    width: 393px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fourth-section-input button {
    border: 0;
    padding: 15px 25px;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    font-weight: 700;
    width: 393px;
    height: 52px;
}

.fourth-section-discount {
    position: relative;
    width: 60%;
}

.fourth-section-discount img {
    width: 100%;
    height: 100%;
}

.fourth-section-discount p {
    background-color: rgb(255, 84, 0);
    width: 324px;
    height: 120px;
    border-radius: 16px;
    text-align: center;
    padding: 25px;
    color: white;
    border: 0;
    position: absolute;
    bottom: 11%;
    left: 53%;
    transform: rotate(-19.628deg);

}
#span-1{
    font-size: 24px;
}
#span-2{
    font-size: 32px;
}

/* footer sesction */
.footer-section{
    max-width: 1200px;
    text-align: center;
    padding: 70px 335px;
    margin-top: 50px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-title{
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.icon{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-section hr{
    margin-bottom: 40px;
}